.bio {
  padding: 5rem 0 4.4rem;
  &_hello {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 0.8rem;
    line-height: 1;
    &_wave {
      font-size: 2rem;
      display: inline-block;
      margin-right: 0.8rem;
      transform: rotate(0deg);
      transform-origin: bottom right;
      animation: waveAnim 5s ease-in-out infinite;
      animation-delay: 2s;
    }
  }
  &_title {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 1.8rem;
  }
  &_desc {
    margin: 0;
    max-width: 33rem;
  }
  &_social {
    margin: 2.5rem 0 0;
    &_link {
      display: inline-flex;
      align-items: center;
      margin-right: 1.4rem;
      &:hover {
        text-decoration: underline;
      }
      > svg {
        margin-right: 0.46rem;
      }
    }
  }
  // @media (min-width: 46rem) {
  // }
}

@keyframes waveAnim {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(15deg);
  }
  15% {
    transform: rotate(-15deg);
  }
  25% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
