.index {
  padding: 4.4rem 0 8.8rem;
  &_heading {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }
  &_article {
    &_wrap {
      margin: 3.8rem 0 0;
    }
    &:hover {
      > article > h2 {
        text-decoration: underline;
        text-decoration-thickness: 1px;
      }
    }
    > article {
      text-decoration: none;
      margin: 2.5rem 0 0;
      > h2 {
        font-size: 1.6rem;
        margin: 0 0 0.4rem;
      }
      // > p {
      //   font-size: 1.12rem;
      // }
      > span {
        font-size: 0.88rem;
        opacity: 0.6;
      }
    }
  }
  // @media (min-width: 46rem) {
  //
  // }
}
