.layout {
  max-width: 780px;
  margin: 0 auto;
  width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &_content {
    flex: 1 0 0px;
  }
  @media (min-width: 46rem) {
    width: 65%;
    padding: 0 1.2rem;
  }
}
