.layout {
  max-width: 748px;
  margin: 0 auto;
  width: 85%;
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &_content {
    flex: 1 0 0px;
  }
  @media (min-width: 46rem) {
    width: 65%;
  }
}
