.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border-bottom: 1px solid #000;
  &_links {
    display: inline-flex;
    align-items: center;
    &_item {
      font-size: 0.88rem;
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
      margin-right: 2.2rem;
      > span {
        margin: 0 0 0.15rem 0.3rem;
        display: inline-flex;
      }
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  &_tools {
    display: flex;
    align-items: center;
    > span {
      cursor: pointer;
    }
    > a,
    > span {
      margin-left: 0.88rem;
      > svg {
        color: #565656;
      }
    }
  }
}
