.skills {
  padding: 1.5rem 0 1.2rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  &_heading {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
  }
  &_flex {
    margin: 2.2rem 0 0;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }
  &_item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.2rem;
    min-width: 5rem;
    flex: calc(100% / 6) 0 1;
    > span {
      white-space: nowrap;
      display: inline-block;
      margin: 0.4rem 0 0;
      font-size: 0.7rem;
      font-weight: 300;
    }
  }
  @media (min-width: 46rem) {
    padding: 4.4rem 0 2.2rem;
    &_heading {
      font-size: 1.5rem;
    }
    &_flex {
      margin: 3.8rem 0 0;
    }
    &_item {
      min-width: 5.8rem;
      > span {
        font-size: 0.88rem;
      }
    }
  }
}
